<html>
  <form>
    <div class="form-group">
      <h3>Acesso ao Sistema</h3>
    </div>
    <div class="form-group">
      <label for="user">Email:</label>
      <input type="email" class="form-control" id="user" placeholder="E-mail do usuario" required> 
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" class="form-control" id="senha" placeholder="Senha do usuario" required> 
    </div>

    <button type="button" class="btn btn-primary">Acessar</button>

  </form>


</html>